@import-normalize;
/* bring in normalize.css styles */

/* FONTS */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('assets/fonts/Lato-Regular.ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	src: url('assets/fonts/Lato-Semibold.ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('assets/fonts/Lato-Bold.ttf');
}

@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	src: url('assets/fonts/Merriweather-Bold.ttf');
}

/* RESET */

button {
	cursor: pointer;
	border: none;
	background-color: inherit;
	padding-left: 0;
	padding-right: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
}

ul {
	list-style: none;
}


a {
	text-decoration: none;
}

/* STYLES */

* {
	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background: linear-gradient(90deg,
				rgba(0, 0, 0, 0.6) 0%,
				rgba(0, 0, 0, 0.6) 30%,
				rgba(0, 0, 0, 0.6) 50%,
				rgba(0, 0, 0, 0.6) 70%,
				rgba(0, 0, 0, 0.6) 100%);
		border-radius: 12px;
	}
}

body {
	font-family: 'Lato', sans-serif;
}